.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) 1fr;
  column-gap: 40px;
  grid-template-rows: repeat(2, min-content);
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 43vw auto;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 44vw auto;
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}