.intro__title {
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin: 0;
}

@media (max-width: 767px) {
    .intro__title {
        width: 100%;
        font-size: 10vw;
        line-height: 107%;
    }
}

@media (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
    }
}